<% include header.ejs%>

<form class="" action="/users/login" method="post">
  <div class = "container ">
    <h3>Log In </h3>


    <label for="email">Email</label>

    <input class="form-control" type="email" name="Email" id="email" placeholder="Enter your email ">

    <br>
    <label for="password">Password</label>

    <input class="form-control" type="password" name="Password" id="password" placeholder="Enter your password">

    <br>


    <!-- <input class="form-control" type="text" name="Name"> -->
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>